/* 
Colours Used:
Red - #F23D7F
Blue - #3D9DF2
Light Blue - #79BAF2
Green - #27F293
White - #F2F2F2
*/

body {
  text-align: center;
  min-height: 100vh;
  display: flex;
  margin: 0;
  flex-direction: column;
  background-color: #fff;
  color: #000;
}

h2 {
  margin: 1.2em;
  color: #f2f2f2;
  text-shadow: 1px 1px 1px black;
}

footer {
  margin-top: auto;
  padding: 0.5em;
  background-color: #79baf2;
}

button {
  margin: 1.5em;
  min-width: 5em;
  font-weight: bold;
  font-size: 1em;
  color: #fff;
  background-color: #1b4e59;
  border: none;
  padding: 0.3em;
  border-radius: 0.3em;
}

button:hover {
  background-color: #f2f2f2;
  color: #1b4e59;
  cursor: pointer;
}

label {
  display: block;
}

a {
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  color: #f2f2f2;
}

a:hover {
  color: #79baf2;
}

.mainContainer {
  height: 60vh;
  width: 55%;
  margin: auto;
  box-shadow: 0px 0px 10px 2px black;
  border: 1px solid black;
  border-radius: 1em;
  background-color: #3d9df2;
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userName {
  text-decoration: underline #f23d7f;
  text-underline-offset: 0.3em;
}

.datapair {
  font-size: 1em;
  padding: 0.5em;
}

.backBtn {
  margin-left: 0.6em;
  margin-top: 0.6em;
  font-size: 2em;
  color: #f2f2f2;
  align-self: flex-start;
}

.container {
  height: 120vh;
  width: 55vw;
  margin: 2em auto;
  background-color: #3d9df2;
  border: 2px solid black;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.chatContainer {
  overflow: hidden;
  display: inline-block;
  width: 95%;
  margin: 1.5em auto;
  border: 1px solid black;
  background-color: white;
  box-shadow: 1px 1px 3px black;
  font-size: 0.9em;
  text-align: left;
  padding: 0.5em;
  border-radius: 1em;
}

.chat {
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 60vh;
  height: 100%;
}

.chat-usernames {
  font-weight: bold;
  margin-bottom: 0;
}

.currentUser {
  background-color: #27f293;
  margin-left: 40%;
  text-align: right;
  border-radius: 1em 0em 1em 1em;
  margin-right: 0.5em;
}

.currentUserName {
  text-align: right;
  padding-right: 0.5em;
}

.otherUsers {
  background-color: #b0c1d9;
  margin-right: 40%;
  border-radius: 0em 1em 1em 1em;
}

.currentUser,
.otherUsers {
  padding: 1em;
  margin-top: 0;
}

.datetime {
  display: block;
  color: black;
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 1em;
}

.warning {
  background-color: #f14e4e;
  padding: 0.5em;
  font-weight: bold;
  margin-top: 0;
}

.success {
  background-color: #27f293;
  padding: 0.5em;
  font-weight: bold;
  margin-top: 0;
}

#message {
  display: block;
  margin: 1em auto;
  width: 80%;
}

#userNameText,
#sessionID {
  display: none;
  visibility: hidden;
}

@media only screen and (max-width: 1200px) {
  .container {
    height: 90vh;
    width: 90vw;
  }
}
